@import 'styles/mixins';
@import 'styles/vars';

.shipment-details {
    background: linear-gradient(
        124.01deg,
        $dark 0%,
        rgba(45, 48, 56, 0) 100%
    );
    border-radius: 30px;

    padding: 29px 51px;

    @include flex-column(flex-start, flex-start);
    gap: 30px;

    &__company {
        &-name {
            font-weight: 400;
            line-height: 74px;
            font-size: 4rem;
            color: $snow;
        }

        &-cargo-bays-number-title {
            font-size: 2.125rem;
            line-height: 2.75rem;
        }

        &-cargo-bays-number {
            font-size: 3.5rem;
        }
    }

    &__body {
        p {
            margin-bottom: 10px;
        }
    }

    &__footer {
        h1 {
            line-height: 44px;
        }

        p {
            font-size: 3.5rem;
            color: $snow;

            line-height: 66px;
        }
    }

    @media screen and (max-width: 772px) {
        .shipment-details {
            &__company {
                &-name {
                    line-height: 38px;
                    font-size: 28px;
                }

                &-cargo-bays-number-title {
                    font-size: 187px;
                    line-height: 20px
                }

                &-cargo-bays-number {
                    font-size: 34px
                }
            }

            &__foooter {
                text-align: center;
                padding-top: 40px;
            }
        }
    }
}
