@import 'styles/mixins';
@import 'styles/vars';

.shipment-page {
    &__header {
        @include flex-row(center, flex-start);

        padding-top: 40px;
        padding-left: 40px;

        &-logo {
            grid-area: logo;

            padding-right: 50px;
        }

        &-menu-section {
            i {
                display: none;
            }

            width: 100%;

            @media screen and (max-width: 812px) {
                @include flex-row(center, space-between);

                padding-right: 0;

                i {
                    display: inline;
                    font-size: 30px;
                    color: $snow;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        &-search-input {
            min-width: 320px;
        }

        @media screen and (max-width: 812px) {
            width: 100%;
            flex-wrap: wrap;

            padding-right: 50px;

            &-search-input {
                min-width: 100%;
            }

            &-menu-section {
                @include flex-row(center, space-between);

                padding-bottom: 34px;

                img {
                    padding-right: 0;
                }

                i {
                    display: inline;
                    font-size: 30px;
                    color: $snow;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
