@import 'styles/mixins';

.shipment-page {
    @include flex-column(flex-start, flex-start);

    width: 100%;
    height: 100%;

    &__body {
        @include flex-row(unset, flex-start);

        width: 100%;
        height: 100%;
    }

    &__shipments-list {
        min-width: 300px;

        padding-top: 40px;
        padding-left: 40px;
        padding-right: 50px;
    }

    &__content {
        height: 100%;

        &-container {
            width: calc(100% - 300px);
            min-width: 450px;
            height: 100%;

            padding: 32px 50px;
            padding-left: 0;
        }
    }
}

